<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- add title -->
    
    <!-- import required libraries here -->
    <script src="../static/js/libs/d3.v5.min.js"></script>
    <script src="../static/js/libs/d3-legend.min.js"></script>
    <script src="../static/js/libs/d3-tip.min.js"></script>

    <script src="https://d3js.org/d3.v5.min.js"></script> 
    <script src="https://d3js.org/topojson.v3.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <!--
    <script src="../lib/d3-geo-projection.v2.min.js"></script>
    <script src="../lib/d3-dsv.min.js"></script>
    <script src="../lib/topojson.v2.min.js"></script> 
    -->
    
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css"></link>
    <script type="text/javascript" src = "../static/js/timeline.js"></script>
    

    <title></title>
</head>


<body>
    <!-- append visualization svg to this div-->
    <div id="map"></div>
</body>

</html>